.headers {
  background-color: #4b2e83;
 color: #ffffff;
 font-family: cursive; sans-serif;
 font-size: 2em;
 padding: 20px;
 text-align: center;
}

.wrapper {
  max-width: 800px;
  margin: 50px auto;
  background-color:  #e6e6ff5F;
}

h1 {
  text-align: center;
  background-color: #4b2e83;
  color: #ffffff;
  padding: 20px;
  font-family: "Tahoma"; cursive
}

body {
margin: 0;
padding: 0;
font-family: "Tahoma"; sans-serif;
background-color: #ffffff;
color: #000000;
font-size:1.1em;
max-width: 1000px;
margin: auto;
}


h2,
h3 {
margin: 10px;
font-size: 1.2em;
font-family: "Tahoma"; sans-serif;}

h3 {
font-size: 1em;
font-family: "Tahoma"; sans-serif;
}

p {
font-size: 0.85em;
margin: 10px;
text-align: left;
}

/**
* Create a position for the map
* on the page */
#map {height: 80vh;
}

/**
* Set rules for how the map overlays
* (information box and legend) will be displayed
* on the page. */
.map-overlay {
position: absolute;
bottom: 0;
right: 0;
background: rgba(255, 255, 255, 0.8);
margin-right: 20px;
font-family: Arial, sans-serif;
overflow: auto;
border-radius: 3px;
}

#features {
top: 0;
height: 100px;
margin-top: 20px;
width: 250px;
z-index: 1;
top: 100px;
right: 230px;
}

#legend {
padding: 10px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
line-height: 18px;
height: auto;
margin-bottom: 40px;
z-index: 1;
top: 530px;
right: 260px;
width: auto;
}


.legend-key {
display: inline-block;
border-radius: 20%;
width: 10px;
height: 10px;
margin-right: 5px;
}
