.headers {
  background-color: #4b2e83;
 color: #ffffff;
 font-family: cursive; sans-serif;
 font-size: 1.8em;
 padding: 20px;
 text-align: center;
}

body {
font-family: "Tahoma"; sans-serif;
background-color: #ffffff;
color: #000000;
font-size:1.1em;
max-width: 1000px;
margin: auto;
}

#map {height: 80vh;}
#map2 {height: 80vh;}

#menu {
background: #fff;
position: absolute;
z-index: 1;
top: 130px;
right: 1125px;
border-radius: 3px;
width: 120px;
border: 1px solid rgba(0, 0, 0, 0.4);
font-family: 'Open Sans', sans-serif;
}

#menu a {
font-size: 12px;
font-family: arial black;
color: #404040;
display: block;
margin: 0;
padding: 0;
padding: 10px;
text-decoration: underline;
border-bottom: 1px solid rgba(0, 0, 0, 0.25);
text-align: center;
}

#menu a:last-child {
border: none;
}

#menu a:hover {
background-color: #f8f8f8;
color: #4b2e83;
}

#menu a.active {
background-color: #3887be;
color: #ffffff;
}

#menu a.active:hover {
background: #3074a4;
}
